body{
            font-family: Arial, Helvetica, sans-serif;
            margin: auto;
            max-width: 400px;
        }
        input,button{
            margin: 5px 0;
            padding: 8px;
        }
        ul{
            list-style: none;
            padding: 0;
        }
        li{
            display: flex;
            justify-content: space-between;
            padding: 8px;
            margin: 5px 0;
            border: 1px solid #ddd;
        }