body{
            font-family: Arial, Helvetica, sans-serif;
            margin: auto;
            max-width: 400px;
            text-align: center;
            background-position: center;
            background-size: cover;
            background-origin: border-box;
            background-attachment: fixed;
        }
        input{
            margin: 5px 0;
            padding: 8px;
        }
        ul{
            list-style: none;
            padding: 0;
        }
        li{
            display: flex;
            justify-content: space-between;
            padding: 8px;
            margin: 5px 0;
            border: 1px solid #000000;
            border-radius: 4px;
        }
        button{
            margin: 5px 0;
            padding: 8px;
            background-color: #4285F4;
            color: white;
            font-family: sans-serif;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        #hed{
            text-align: center;
            text-transform: uppercase;
            font-weight: bolder;
            margin-top: 10%;
            font-size: 30px;
            color: white;
        }
        #brd{
            background: #97edf8;
            border-radius: 4px;
            padding: 10px 10px;
            margin: auto;
            
        }
        #del{
            background-color: red;
        }
